<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/9f10ce9dff.js" crossorigin="anonymous"></script>
  <script type="text/javascript">

  var increment = 0;

  /*
   * Ajout d'une nouvelle ligne pour ajouter des molécules
   */
  function AjoutMolecule()
  {
    var Contenu = document.getElementById('AjoutMol').innerHTML;
		Contenu = Contenu + '<tr style="border:unset" id='+ increment +'"><td></td><td style="width:auto"><input type="text"/></td><td style="text-align:center"><i onclick="DeleteLigneMolecule('+ increment +')" class="fas fa-trash" style="color:red"></td></tr>';
		document.getElementById('AjoutMol').innerHTML = Contenu;
    increment++;
  }

  /*
   * Suppression d'une ligne de molécule
   */
  function DeleteLigneMolecule(id)
  {
    document.getElementById("AjoutMol").getElementById(id).remove();
    //deleteRow(id+1);
  }

  </script>
  {# Création du bloc "title" avec "GSB" comme contenu par défaut #}
  <title>{% block title %}GSB{% endblock %}</title>

  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset ('css/bootstrap.css') }}" type="text/css" />
  {% endblock %}
</head>
<style>

/*
 * Class pour colorer une ligne sur deux
 */
.lightgrey
{
  background-color: #E5E5E5;
}
.lightblue
{
  background-color: #A6C7FC;
}

/*
 *Arrondit le bord d'un tableau
 */
table
{
  border-radius: 6px;
}

tr
{
  width:auto;
  border: 1px solid black;
}

button
{
  border-radius: 6px;
}

</style>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1 align="center">GSB</h1>
    </div>

    <div class="row">
      <div id="menu" class="col-2">
        <h3>Menu</h3>
        <ul class="nav nav-pills navs-stacked">
          {# Utilisation de la fonction {{ path }} pour faire des liens vers d'autres routes #}
          <li><a href="{{ path('Accueil') }}">Accueil</a></li>
          <li><a href="{{ path('Ajout') }}">Ajout d'un médicament</a></li>
          <li><a href="{{ path('Modification') }}">Modification d'un médicaments</a></li>
          <li><a href="{{ path('Suppression') }}">Suppression d'un médicament</a></li>
        </ul>
      </div>
      <div id="content" class="col-md-9">
        <!-- Création du bloc "body" sans contenu par défaut -->
        {% block body %}
        {% endblock %}
      </div>
    </div>
    <hr>
    <footer>
      <p>Site développé par {{webmaster}}</p>
    </footer>
  </div>
</body>
</html>
